<div class="footer">
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h4>Home</h4>
						<p>This is home component</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h4>Form</h4>
						<p>This is form component</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h4>Home</h4>
						<p>This is home component</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h4>Form</h4>
						<p>This is form component</p>
					</div>
				</div>
			</div>
		</div>

<div class="copyright">
				<div class="container">
					<p class="text-center">
						www.xcubesoftwares.com
					</p>
				</div>
</div>	
</div>
