<div class="container">    
  <div class="col-md-6 col-md-offset-3 loginBox">    
      Welcome,  {{id}}    
      <a href="javascript:void(0);" (click)="logout()">Logout</a>    

      <!-------------table----------------------->
<section class="table-data">
    <div class="container">
    
      <h1 class="text-center text-success py-3 fw-bold">JobData Table</h1>

            <form>
          <div class="mb-3">
          <!--   <label for="exampleInputEmail1" class="form-label">Search</label> -->
            <input type="text" name="terms" [(ngModel)]="terms" class="form-control" placeholder="Search here....." >
          </div>
        </form>

        <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
            <thead>
            <tr>
              <th>id</th>
              <th scope="col">name</th>
              <th scope="col">email</th>
           
             
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jobdata of jobb | filter:terms | paginate: {itemsPerPage:5,currentPage:p};">
              <td>{{jobdata.id}}</td>
              <td>{{jobdata.name}}</td>
              <td>{{jobdata.email}}</td>
              
            </tr>
            </tbody>
        </table>
        </div>
        <div class="table-pagination">
          <pagination-controls (pageChange) = "p = $event" ></pagination-controls>
        </div>
  </div>
</section>
  <!-------------table----------------------->
  </div>    
</div>  
